RewriteEngine On
RewriteBase /project-am/projek-am/

# Redirect root URL to the home page
RewriteRule ^$ src/pages/home/index.php [L]

# Redirect /daftar to /src/pages/daftar/daftar.php (if needed)
RewriteRule ^daftar$ src/pages/daftar/daftar.php [L]

# Redirect /konfirmasi to /src/pages/daftar/konfirmasi-pendaftaran.php (if needed)
RewriteRule ^konfirmasi-pendaftaran$ src/pages/daftar/konfirmasi-pendaftaran.php [L]

# Redirect /biaya to /src/pages/biaya/biaya.php (if needed)
RewriteRule ^biaya$ src/pages/biaya/biaya.php [L]

# Redirect /gallery to /src/pages/image-gallery/image-gallery.php (if needed)
RewriteRule ^gallery$ src/pages/image-gallery/image-gallery.php [L]

# Redirect /visi-misi to src/pages/visi-misi/visi-misi.php (if needed)
RewriteRule ^visi-misi$ src/pages/visi-misi/visi-misi.php [L]

# Redirect /dashboard to src/pages/dahsboard/dashboard.php(if needed)
RewriteRule ^dashboard$ src/pages/dashboard/dashboard.php [L]

# Redirect /data-santri to src/pages/dahsboard/dashboard.php(if needed)
RewriteRule ^data-santri-am$ dashboard/hayde#calon-santri-am [L]


# Redirect /index.php to root on localhost
RewriteRule ^index\.php$ /project-am/projek-am/ [R=301,L]

# Exclude physical files from rewriting
RewriteCond %{REQUEST_FILENAME} !-f

# Exclude physical directories from rewriting
RewriteCond %{REQUEST_FILENAME} !-d
