@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden overflow-y-scroll font-open_sans;
  }
}

.navbar-fixed {
  @apply fixed z-[9999];
}

.navbar-fixed-bg {
  @apply bg-white text-dark-font;
}
.navbar-fixed-bg .hamburger-line {
  @apply bg-dark-font;
}

#hamburger-menu:active .hamburger-line {
  @apply bg-dark-font;
}

.hamburger-line {
  @apply w-[24px] h-[3px] block my-1 bg-white transition-all duration-300;
}

.hamburger-active > div > span {
  @apply bg-dark-font;
}

.hamburger-active > div > span:nth-child(1) {
  @apply w-[30px] h-[3px] transition-transform transform rotate-45 translate-y-[0.9em] origin-center;
}

.hamburger-active > div > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > div > span:nth-child(3) {
  @apply w-[30px] h-[3px] transition-transform transform -rotate-45 translate-y-[-0.5em] origin-center;
}
/* berita */
#berita {
  @apply bg-[url("../img/backvector-cardberita.svg")] bg-no-repeat bg-[center_100%] bg-cover;
}

/* swiper */
.swiper-pagination {
  --swiper-pagination-color: #51218e;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-size: 0;
}

/* card program pilihan */
.card {
  @apply w-[250px] h-[300px] rounded-[2em] p-[1.2em_1em] flex items-center justify-center flex-col m-[1.5em_2em];
}
.card__image {
  @apply w-4/5 h-4/5 p-[3px] overflow-hidden;
}

.card__image img {
  @apply w-full object-cover;
}

.card__content {
  @apply flex items-center flex-col -mt-[3em];
}

.card__title {
  @apply text-[1.5em] font-bold;
}
.card__text {
  @apply text-center text-[1.1em] font-[regular];
}

.swiper-card .swiper-slide {
  @apply w-[300px];
}

/* extracurrricular */
.container-extracurricular {
  @apply bg-[url("../img/grayvector.svg")] bg-no-repeat bg-[center_100%] bg-cover;
}

.container-extracurricular > .title {
  @apply m-[27px] text-main-green;
}

.container-card-extracurricular {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1152.12px;
  @apply flex flex-wrap gap-5 max-w-[1152.12px];
}

.card-extracurricular {
  @apply max-w-[calc(33.333%_-_20px)] h-[213px] relative overflow-hidden basis-[calc(33.333%_-_20px)];
}

swiper-container {
  @apply w-[259px] h-[155px];
}

swiper-slide {
  @apply flex items-center justify-center rounded-[12.54px] text-[22px] font-bold text-white h-full;
}

.title-extracurricular {
  @apply bg-main-orange rounded-[0_0_17.54px_17.54px];
}

.maps {
  @apply bg-[url("../img/vector-maps.svg")] bg-no-repeat bg-center bg-cover;
}

@media (max-width: 500px) {
  .card {
    @apply w-[250px] h-[350px] rounded-[2em] flex items-center justify-center flex-col m-[1.5em_1em];
  }
  .swiper-slide:not(.swiper-slide-active) {
    @apply blur-[1px];
  }
}

@media not all and (min-width: 640px) {
  .display-extracurricular {
    display: inherit;
  }

  .container-card-extracurricular {
    @apply hidden;
  }
}

@media (min-width: 640px) {
  .display-extracurricular {
    display: inherit;
  }

  .container-card-extracurricular {
    @apply hidden;
  }
}

@media (min-width: 768px) {
  .display-extracurricular {
    @apply hidden;
  }

  .container-card-extracurricular {
    @apply flex flex-wrap justify-evenly;
  }

  .card-extracurricular {
    @apply basis-[calc(50%_-_20px)] max-w-[calc(50%_-_20px)] h-auto;
  }
}

@media (min-width: 1024px) {
  .display-extracurricular {
    @apply hidden;
  }

  .container-card-extracurricular {
    @apply flex flex-wrap justify-evenly;
  }

  .card-extracurricular {
    @apply max-w-[calc(33.333%_-_20px)] h-[250px] relative overflow-hidden basis-[calc(33.333%_-_20px)];
  }
}
